@import "./tailwind.scss";
@import "./base.scss";

[class^="icon-"] {
  font-family: "iconfont" !important;
  /* font-size: 1em; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
