/*
管理主题中的可变样式变量

历史背景：
1. TailwindCSS是原子化的，可以认为每个原子class就是一个常量，例如使用.text-primary，对应了#333这个颜色，这个#333就是一个常量
2. 因为TailwindCSS的class是不可变的，如果要可变，需要将#333变成一个CSS变量

结论：
如果样式中存在需要未来动态替换的值（如修改主题色、暗黑模式等），则需要抽取为CSS变量，否则在TailwindCSS配置中写死即可

*/

$colors: (
  blue: ('#E8F3FF', '#BEDAFF', '#94BFFF', '#6AA1FF', '#4080FF', '#165DFF', '#0E42D2', '#072CA6', '#031A79', '#000D4D'),
  orange: ('#FFF7E8', '#FFE4BA', '#FFCF8B', '#FFB65D', '#FF9A2E', '#FF7D00', '#D25F00', '#A64500', '#792E00', '#4D1B00'),
  green: ('#E8FFEA', '#AFF0B5', '#7BE188', '#4CD263', '#23C343', '#00B42A', '#009A29', '#008026', '#006622', '#004D1C'),
  red: ('#FFECE8', '#FDCDC5', '#FBACA3', '#F98981', '#F76560', '#F53F3F', '#CB272D', '#A1151E', '#770813', '#4D000A'),
  gray: ('#F7F8FA', '#F2F3F5', '#E5E6EB', '#C9CDD4', '#A9AEB8', '#86909C', '#6B7785', '#4E5969', '#272E3B', '#1D2129'),
  pink: ('#FFE8F1', '#FDC2DB', '#FB9DC7', '#F979B7', '#F754A8', '#F5319D', '#CB1E83', '#A11069', '#77064F', '#4D0034'),
  cyan: ('#E8FFFB', '#B7F4EC', '#89E9E0', '#5EDFD6', '#37D4CF', '#14C9C9', '#0DA5AA', '#07828B', '#03616C', '#00424D'),
);

$dark-colors: (
  blue: ('#000D4D', '#041B79', '#0E32A6', '#1D4DD2', '#306FFF', '#3C7EFF', '#689FFF', '#93BEFF', '#BEDAFF', '#EAF4FF'),
  orange: ('#4D1B00', '#793004', '#A64B0A', '#D26913', '#FF8D1F', '#FF9626', '#FFB357', '#FFCD87', '#FFE3B8', '#FFF7E8'),
  green: ('#004D1C', '#046625', '#0A802D', '#129A37', '#1DB440', '#27C346', '#50D266', '#7EE18B', '#B2F0B7', '#EBFFEC'),
  red: ('#4D000A', '#770611', '#A1161F', '#CB2E34', '#F54E4E', '#F76965', '#F98D86', '#FBB0A7', '#FDD1CA', '#FFF0EC'),
  gray: ('#17171A', '#2E2E30', '#484849', '#5F5F60', '#78787A', '#929293', '#ABABAC', '#C5C5C5', '#DFDFDF', '#F6F6F6'),
  pink: ('#4D0034', '#770850', '#A1176C', '#CB2B88', '#F545A6', '#F756A9', '#F97AB8', '#FB9EC8', '#FDC3DB', '#FFE8F1'),
  cyan: ('#00424D', '#06616C', '#11838B', '#1FA6AA', '#30C9C9', '#3FD4CF', '#66DFD7', '#90E9E1', '#BEF4ED', '#F0FFFC'),
);

:root {
  // 色盘
  @each $name, $list in $colors {
    @each $color in $list {
      $index: index($list, $color);
      --color-#{'' + $name}-#{$index}: #{$color};
    }
  }
  // 主题色
  --color-b-primary: var(--color-blue-6);
  --color-b-primary-hover: var(--color-blue-5);
  --color-b-primary-active: var(--color-blue-7);
  --color-b-primary-disabled: var(--color-blue-3);
  --color-b-primary-background: var(--color-blue-1);
  // 背景色
  --color-bg-normal: theme('colors.white');
}

html.dark {
  // 色盘
  @each $name, $list in $dark-colors {
    @each $color in $list {
      $index: index($list, $color);
      --color-#{'' + $name}-#{$index}: #{$color};
    }
  }
  // 背景色
  --color-bg-normal: #17171A;
}
