/*
注意！！
不要改动此文件，这里的变量是在已设计好的design tokens下，通过style-dictionary自动生成的。
*/

:root {
  --color-blue-1: #E8F3FF;
  --color-blue-2: #BEDAFF;
  --color-blue-3: #94BFFF;
  --color-blue-4: #6AA1FF;
  --color-blue-5: #4080FF;
  --color-blue-6: #165DFF;
  --color-blue-7: #0E42D2;
  --color-blue-8: #072CA6;
  --color-blue-9: #031A79;
  --color-blue-10: #000D4D;
  --color-orange-1: #FFF7E8;
  --color-orange-2: #FFE4BA;
  --color-orange-3: #FFCF8B;
  --color-orange-4: #FFB65D;
  --color-orange-5: #FF9A2E;
  --color-orange-6: #FF7D00;
  --color-orange-7: #D25F00;
  --color-orange-8: #A64500;
  --color-orange-9: #792E00;
  --color-orange-10: #4D1B00;
  --color-green-1: #E8FFEA;
  --color-green-2: #AFF0B5;
  --color-green-3: #7BE188;
  --color-green-4: #4CD263;
  --color-green-5: #23C343;
  --color-green-6: #00B42A;
  --color-green-7: #009A29;
  --color-green-8: #008026;
  --color-green-9: #006622;
  --color-green-10: #004D1C;
  --color-red-1: #FFECE8;
  --color-red-2: #FDCDC5;
  --color-red-3: #FBACA3;
  --color-red-4: #F98981;
  --color-red-5: #F76560;
  --color-red-6: #F53F3F;
  --color-red-7: #CB272D;
  --color-red-8: #A1151E;
  --color-red-9: #770813;
  --color-red-10: #4D000A;
  --color-gray-1: #F7F8FA;
  --color-gray-2: #F2F3F5;
  --color-gray-3: #E5E6EB;
  --color-gray-4: #C9CDD4;
  --color-gray-5: #A9AEB8;
  --color-gray-6: #86909C;
  --color-gray-7: #6B7785;
  --color-gray-8: #4E5969;
  --color-gray-9: #272E3B;
  --color-gray-10: #1D2129;
  --color-pink-1: #FFE8F1;
  --color-pink-2: #FDC2DB;
  --color-pink-3: #FB9DC7;
  --color-pink-4: #F979B7;
  --color-pink-5: #F754A8;
  --color-pink-6: #F5319D;
  --color-pink-7: #CB1E83;
  --color-pink-8: #A11069;
  --color-pink-9: #77064F;
  --color-pink-10: #4D0034;
  --color-cyan-1: #E8FFFB;
  --color-cyan-2: #B7F4EC;
  --color-cyan-3: #89E9E0;
  --color-cyan-4: #5EDFD6;
  --color-cyan-5: #37D4CF;
  --color-cyan-6: #14C9C9;
  --color-cyan-7: #0DA5AA;
  --color-cyan-8: #07828B;
  --color-cyan-9: #03616C;
  --color-cyan-10: #00424D;
  --color-b-primary: #165DFF;
  --color-b-primary-hover: #4080FF;
  --color-b-primary-active: #0E42D2;
  --color-b-primary-disabled: #94BFFF;
  --color-b-primary-background: #E8F3FF;
  --color-bg-normal: #FFFFFF;
}


html.dark {
  --color-blue-1: #000D4D;
  --color-blue-2: #041B79;
  --color-blue-3: #0E32A6;
  --color-blue-4: #1D4DD2;
  --color-blue-5: #306FFF;
  --color-blue-6: #3C7EFF;
  --color-blue-7: #689FFF;
  --color-blue-8: #93BEFF;
  --color-blue-9: #BEDAFF;
  --color-blue-10: #EAF4FF;
  --color-orange-1: #4D1B00;
  --color-orange-2: #7934;
  --color-orange-3: #A64B0A;
  --color-orange-4: #D26913;
  --color-orange-5: #FF8D1F;
  --color-orange-6: #FF9626;
  --color-orange-7: #FFB357;
  --color-orange-8: #FFCD87;
  --color-orange-9: #FFE3B8;
  --color-orange-10: #FFF7E8;
  --color-green-1: #004D1C;
  --color-green-2: #046625;
  --color-green-3: #0A802D;
  --color-green-4: #129A37;
  --color-green-5: #1DB440;
  --color-green-6: #27C346;
  --color-green-7: #50D266;
  --color-green-8: #7EE18B;
  --color-green-9: #B2F0B7;
  --color-green-10: #EBFFEC;
  --color-red-1: #4D000A;
  --color-red-2: #770611;
  --color-red-3: #A1161F;
  --color-red-4: #CB2E34;
  --color-red-5: #F54E4E;
  --color-red-6: #F76965;
  --color-red-7: #F98D86;
  --color-red-8: #FBB0A7;
  --color-red-9: #FDD1CA;
  --color-red-10: #FFF0EC;
  --color-gray-1: #17171A;
  --color-gray-2: #2E2E30;
  --color-gray-3: #484849;
  --color-gray-4: #5F5F60;
  --color-gray-5: #78787A;
  --color-gray-6: #929293;
  --color-gray-7: #ABABAC;
  --color-gray-8: #C5C5C5;
  --color-gray-9: #DFDFDF;
  --color-gray-10: #F6F6F6;
  --color-pink-1: #4D0034;
  --color-pink-2: #770850;
  --color-pink-3: #A1176C;
  --color-pink-4: #CB2B88;
  --color-pink-5: #F545A6;
  --color-pink-6: #F756A9;
  --color-pink-7: #F97AB8;
  --color-pink-8: #FB9EC8;
  --color-pink-9: #FDC3DB;
  --color-pink-10: #FFE8F1;
  --color-cyan-1: #00424D;
  --color-cyan-2: #06616C;
  --color-cyan-3: #11838B;
  --color-cyan-4: #1FA6AA;
  --color-cyan-5: #30C9C9;
  --color-cyan-6: #3FD4CF;
  --color-cyan-7: #66DFD7;
  --color-cyan-8: #90E9E1;
  --color-cyan-9: #BEF4ED;
  --color-cyan-10: #F0FFFC;
  --color-b-primary: #3C7EFF;
  --color-b-primary-hover: #306FFF;
  --color-b-primary-active: #689FFF;
  --color-b-primary-disabled: #0E32A6;
  --color-b-primary-background: #000D4D;
  --color-bg-normal: #17171A;
}
