@font-face {
  font-family: "iconfont"; /* Project id 3781277 */
  src: url('iconfont.woff2?t=1669884719818') format('woff2'),
       url('iconfont.woff?t=1669884719818') format('woff'),
       url('iconfont.ttf?t=1669884719818') format('truetype'),
       url('iconfont.svg?t=1669884719818#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6b8";
}

