@font-face {
  font-family: "iconfont"; /* Project id 3781277 */
  src: url('iconfont.woff2?t=1670050409492') format('woff2'),
       url('iconfont.woff?t=1670050409492') format('woff'),
       url('iconfont.ttf?t=1670050409492') format('truetype'),
       url('iconfont.svg?t=1670050409492#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paizhao1:before {
  content: "\e769";
}

.icon-xiangce:before {
  content: "\e76a";
}

.icon-bofang:before {
  content: "\e607";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-home:before {
  content: "\e6b8";
}

